@import "partials/reset.scss";
@import "modules/mixins.scss";
@import "partials/header.scss";
@import "partials/wild_nature.scss";
@import "partials/urban_places.scss";
@import "partials/contact_form.scss";

* {
  box-sizing: border-box;
}

body {
  // @include flexbox();
  width:100%;
  // display: flex;
  height:auto;
  margin: 0;
  padding: 0;
}

// .contact_form{
//   // margin-top: 50px;
//   background-color: #d7dddf;
//   height: 800px;
//   h2 {
//   color: #2d2d2d;
//   font-size: 36px;
//   margin:40px;
//   text-align: center;
//   }
// }
// .container {
//   text-align: center;
//   width: 50%;
//   border: 2px solid blue;
// }


// .form {
//   width: 50%;
//   height: 500px;
//   border: 2px solid red;
//   // apdding: 2em;
//   display: flex;
// }
