@import "partials/reset.scss";
@import "modules/mixins.scss";
// @import "modules/variables.scss";
@import "partials/header.scss";
@import "partials/wild_nature.scss";
@import "partials/urban_places.scss";
@import "partials/contact_form.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  // @include flexbox();
  width:100%;
  // display: flex;
  height:auto;
  margin: 0;
  padding: 0;
}
