
  .contact {
      margin:0;
      padding: 30px;
      font-size:30px;
      text-align: center;
      color:white;
      background-color: #f06600;
      margin-top: 30px;
      @include phone {
      font-size: 24px;
      padding: 15px;
      margin-top:0;
      }
    }

.contact_form {
  background-image:url("../images/contact_photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  margin-top:50px;
  @include phone {
    height: 700px;
  margin-top:0;
  }

  h2 {
     font-weight:400;
     color: #4c4c4c;
     font-size: 18px;
     margin:20px;
     text-align: center;
    }
  }

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 50%;
  border: 2px solid #f06600;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 30px #625248;
  @include phone {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  }
  @media #{$landscape} {
 width:90%;
}
}

.comments input[type=submit] {
  display:block;
  padding:10px;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #f06600;
  border: none;
  color: white;
  width: 80%;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 30px;
  @include phone {
  width: 217px;
  }
}

.comments input[type=text] {
  color: #797979;
  width: 40%;
  font-size: 12px;
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  font-weight: 200;
  box-sizing: border-box;
  border: 1px solid #6a6b6d;
}

.comments textarea, .comments input[type=email], #email {
  color: #797979;
  width: 80%;
  font-size: 12px;
  font-weight: 200;
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #6a6b6d;
}

.comments ::-webkit-input-placeholder {
  color:#3e3f41;
}
.comments ::-moz-input-placeholder {
  color:#3e3f41;
}
.comments ::-ms-input-placeholder {
  color: #3e3f41;
}
form{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
