header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:url("../images/main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    // border: 2px solid white;
    // border: 2px solid white;

      div {
        margin-top: -150px;
        @include phone {
        margin-top:-105px;
        }
      }

      .social_media_icons {                     //SOCIAL MEDIA ICONS
        width: 100%;
        height:auto;
        text-align: right;
        padding: 1em;
            li {
                display: inline-block;
                margin-right: 20px;
              }
        @include phone {
          text-align: center;
        }
      }


      h3 {                                       //HEAD
        text-align: center;
        width: 100%;
        height: auto;
        color: white;
        font-size: 60px;
        font-weight: normal;
        @include phone {
          position: absolute;
          top:50px;
          font-weight: normal;
          margin:0;
          font-size: 30px;
          margin-top: 50px;
        }
      }

      .logo {
                                            //LOGOTYPE
          text-align: center;
          width: 70px;
          height: 70px;
          padding: 0;
          height: auto;
          margin: 0 auto;
          margin-top: 70px;
          @include phone {
            width: 50px;
            height: 50px;
            margin-top: 30px;
          }
        }
      }




.main_menu {                                   // MAIN MENU
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 5, 28, 0.6);

    ul {
      width: 60%;
      margin: 0 auto;
      padding: 0;
      @include flexbox();
      justify-content:space-around;
      list-style-type: none;
      @include phone {
        width:100%;
        flex-direction: column;
        flex-wrap:wrap;
      }
        li {
            text-align:center;
            font-size: 18px;
            color: white;
            padding: 20px;
            @include phone {
              padding:0;
              padding-top:10px;
              padding-bottom:10px;
              font-weight:300;
              margin:0;
              font-size: 14px;
            }
            a {
            color: white;
            text-decoration: none;
            &:hover {
              border-bottom: 3px solid #f06600;
            }
          }
        }
      }
      @include phone {
      margin-top: 110px;
      }
    }


#wild_nature {                                  //SUBMENU WILD_NATURE
    position: relative;
    text-align: center;

        .after {
        width: 40vh;
        height: auto;
        position: absolute;
        top: 64px;
        left: -50px;
        color: red;
        text-align: center;
        background-color: rgba(0, 5, 28, 0.6);
        display: none;
        padding: 5px;
        @include phone {
          position: relative;
          top:10px;
          left:0;
        }
      }
        li {
            font-size: 14px;
            font-weight:300;
            height: auto;
            width: 100%;
            color: white;
                &:hover {
                  border: 2px solid #f06600;
                }
            @include phone {
              padding: 10px;
            }
          }

    &:hover .after {
      @include phone {
        width: 100%;
        align-items:center;
      }
    }
  }



#urban_places {                                      //SUBMENU URBAN_PLACES
    position: relative;
    text-align: center;

    @include submenu();
}
