
                                                //SCROLLING EFFECT SECTION
section {
  width: 100%;
  height: auto;
  position: relative;
}

.foot {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity:0;
}

.eleven {
  z-index:1;
  top: 110px;
  right: 440px;
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.twelve {
  z-index: 1;
  top: 150px;
  right: 460px;
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.thirteen {
  background-image: url("../images/map_point.svg");             //map point
  background-size: contain;
  background-repeat: no-repeat;
  top: 190px;
  right: 550px;
}

.fourteen {
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 320px;
  right: 580px;
  transform: rotate(90deg);
}

.fifteen {
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 300px;
  right: 550px;
  transform: rotate(90deg);
}

.sixteen {                                                       //sign post
  top: 300px;
  right: 650px;
  background-image: url("../images/sign_post.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.seventeen {
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 545px;
  right: 800px;
}

.eighteen {
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 565px;
  right: 820px;
}

.nineteen {
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 730px;
  right: 650px;
  transform: rotate(-90deg);
}

.twenty {
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 760px;
  right: 690px;
  transform: rotate(-90deg);
}

.twenty_one {
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 760px;
  right: 610px;
  transform: rotate(-90deg);
}

.twenty_two {
  background-image: url("../images/map_point.svg");               //map point
  background-size: contain;
  background-repeat: no-repeat;
  top: 730px;
  right: 560px;
}


                                                    //URBAN PLACES SECTION


.lines_straight {
    z-index: -1;
    width: 30%;
    margin-top: 40px;
    position: absolute;
    left:350px;
    right: 80px;
    border-top: 3px dashed orange;
    @include phone {
      display: none;
    }
    @media #{$landscape} {
      display: none;
    }
  }

.urban_places {
    margin:0;
    padding: 30px;
    font-size:30px;
    text-align: center;
    color:white;
    background-color: #f06600;
    margin-top: 50px;
    @include phone {
      font-size: 24px;
      padding: 15px;
      margin:0;
    }
  }



.photos_and_descriptions_warsaw {                                 //WARSAW
    .shadow_orange {
        box-shadow: 20px 20px 0px #f06600;
        @include phone {
          display: none;
        }
        @media #{$landscape} {
          display: none;
        }
      }
 @include photos_and_descriptions();
 }

 #warsaw_description {
   @include description();
   background-color:#010930;
   @include phone {
     background-image:url("../images/warsaw.jpg");
   }
   @media #{$landscape} {
     background-image:url("../images/warsaw.jpg");
   }
    h4 {
       color: white;
       font-weight: 600;
       @include phone {
         background-color:rgba(1, 9, 48, 0.7);
       }
       @media #{$landscape} {
        color: #010930;
       }
     }

     p {
       color: white;
       @include phone {
         background-color:rgba(1, 9, 48, 0.7);
       }
       @media #{$landscape} {
         color: #010930;
       }
     }

     .btn_more {
        color:white;
        border: 2px solid #ffffff;
        background-color:#010930;
        @include phone {
          top:-10px;
        }
        &:hover{
        background-color: #ffffff;
        color: black;
        }
      }

    .hobby_icons {
        &:hover {
          background-color: #f06600;
        }
     }
  }


  .photos_and_descriptions_cracow {                                  //CRACOW
      .shadow_orange {
        box-shadow: 20px 20px 0px #f06600;
        @include phone {
          display: none;
        }
        @media #{$landscape} {
          display: none;
        }
      }
      @include photos_and_descriptions();
    }


    #cracow_description {
      @include description();
      background-color:#010930;
      @include phone {
        background-image:url("../images/cracow.jpg");
      }
      @media #{$landscape} {
        background-image:url("../images/cracow.jpg");
      }

        h4 {
           color: white;
           @include phone {
             background-color:rgba(1, 9, 48, 0.7);
           }
           @media #{$landscape} {
            color: #010930;
           }
        }

        p {
          color: white;
          @include phone {
            background-color:rgba(1, 9, 48, 0.7);
          }
          @media #{$landscape} {
            color: #010930;
          }
        }

        .btn_more {
            color:white;
            border: 2px solid #ffffff;
            background-color:#010930;
            @include phone {
              top:-10px;
            }
            &:hover{
            background-color: #ffffff;
            color: black;
            }
         }

      .hobby_icons {
            &:hover {
            background-color: #f06600;
            }
      }
  }
