section {
  width: 100%;
  height: auto;
  position: relative;
}

.foot {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity:0;
}

.eleven {
  z-index:1;
  top: 110px;
  right: 440px;
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.twelve {
  z-index: 1;
  top: 150px;
  right: 460px;
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.thirteen {
  background-image: url("../images/map_point.svg");     //WARSAW'S MAP POINT
  background-size: contain;
  background-repeat: no-repeat;
  top: 190px;
  right: 550px;
  // transform: rotate(40deg);
}

.fourteen {
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 320px;
  right: 580px;
  transform: rotate(90deg);
}

.fifteen {
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 300px;
  right: 550px;
  transform: rotate(90deg);
}

.sixteen {                                            //SIGN POST
  top: 300px;
  right: 650px;
  background-image: url("../images/sign_post.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.seventeen {
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 545px;
  right: 800px;
  // transform: rotate(90deg);
}

.eighteen {
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 565px;
  right: 820px;
  // transform: rotate(90deg);
}

.nineteen {
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 730px;
  right: 650px;
  transform: rotate(-90deg);
}

.twenty{
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 760px;
  right: 690px;
  transform: rotate(-90deg);
}

.twenty_one{
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 760px;
  right: 610px;
  transform: rotate(-90deg);
}

.twenty_two{
  background-image: url("../images/map_point.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 730px;
  right: 560px;
  // transform: rotate(-90deg);
}


                                    //SECTION URBAN PLACES


.lines_straight {
    z-index: -1;
    width: 35%;
    margin-top: 250px;
    position: absolute;
    left:350px;
    right: 80px;
    border-top: 3px dashed orange;
    @include phone {
    display: none;
  }
}

.urban_places {
    margin:0;
    padding: 30px;
    font-size:30px;
    text-align: center;
    color:white;
    background-color: #f06600; //z
    margin-top: 50px; //z
    @include phone {
    font-size: 24px;
    padding: 15px;
    margin:0;//z
    }
  }



.photos_and_descriptions_warsav {           //WARSAV
  .shadow_orange {
    box-shadow: 20px 20px 0px #f06600;
    @include phone {
      display: none;
    }
  }
  @include photos_and_descriptions();
  }

    #warsav_description {
      @include description();
      background-color:#010930;

        h4 {
          color: white;
          @include phone {
            background-color:rgba(1, 9, 48, 0.7);
          }
        }
        p {
          color: white;
          @include phone {
            background-color:rgba(1, 9, 48, 0.7);
          }
        }
    @include phone {
      background-image:url("../images/mountains.jpg");
      }
          .btn_more {

            color:white;
            border: 2px solid #ffffff;
            @include phone {
            top:-10px;
            }
            &:hover{
              background-color: #ffffff;
              color: black;
            }
          }
      .hobby_icons {

        &:hover {
          // background-color: #f06600;
          background-color: #f06600;
        }
    }
  }

    //CRACOV

    .photos_and_descriptions_cracov {
      .shadow_orange {
        box-shadow: 20px 20px 0px #f06600;
        @include phone {
          display: none;
        }
      }
      @include photos_and_descriptions();
    }


    #cracov_description {

      @include description();
      background-color:#010930;

        h4 {
          color: white;
          @include phone {
            background-color:rgba(1, 9, 48, 0.7);
          }
        }
        p {
          color: white;
          @include phone {
            background-color:rgba(1, 9, 48, 0.7);
          }
        }
    @include phone {
      background-image:url("../images/mountains.jpg");
      }
          .btn_more {

            color:white;
            border: 2px solid #ffffff;
            @include phone {
            top:-10px;
            }
            &:hover{
              background-color: #ffffff;
              color: black;
            }
          }
      .hobby_icons {

        &:hover {
          // background-color: #f06600;
          background-color: #f06600;
        }
    }
  }
