                                                  //SCROLLING EFFECT SECTION

section {
  width: 100%;
  height: auto;
  position: relative;

.foot {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity:0;
}
.one {
  top: 130px;
  right: 440px;
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.two {
  top: 180px;
  right: 480px;
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.three {                                                      //map point
  top: 240px;
  right: 450px;
  background-image: url("../images/map_point.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.four {
  top: 620px;
  right: 440px;
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.five {
  top: 680px;
  right: 480px;
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.six {                                                         //sign post
  top: 730px;
  right: 650px;
  background-image: url("../images/sign_post.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.seven {
  top: 850px;
  right: 900px;
  background-image: url("../images/map_point.svg");           //map point
  background-size: contain;
  background-repeat: no-repeat;
}



.eight {
  top: 1000px;
  right: 700px;
  background-image: url("../images/foot_left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.nine {
  top: 1050px;
  right: 650px;
  background-image: url("../images/foot_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.ten {                                                        //sign post
  top: 1050px;
  right: 600px;
  background-image: url("../images/sign_post.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

                                          //END OF SCROLLING EFFECT SECTION




                                                    //WILD NATURE SECTION


  .lines {
      z-index: -1;
      width: 35%;
      height: 24%;
      margin-top: 50px;
      position: absolute;
      left:350px;
      right: 80px;
      border-top: 3px dashed orange;
      border-right: 3px dashed orange;
      border-left: 3px dashed orange;
        @include phone {
        display: none;
      }
      @media #{$landscape} {
      display: none;
    }
   }

  .wild_nature {
      margin:0;
      padding: 30px;
      font-size:30px;
      text-align: center;
      color:white;
      background-color: #010930;
        @include phone {
        font-size: 24px;
        padding: 15px;
        }
    }

  .photos_and_descriptions_masuria {
      .shadow_blue {
          box-shadow: 20px 20px 0px #010930;
          @include phone {
          display: none;
          }
          @media #{$landscape} {
          display: none;
        }
        }
   @include photos_and_descriptions();
  }


  #masuria_description {
    @include phone {
      background-image:url("../images/masuria.jpg");
    }
    @include description();

    .btn_more {
      border: 2px solid #010930;
      background-color:#FFFAF7;
        &:hover{
          background-color: #010930;
          color: white;
        }
      }
    }
  }


                                                          //MOUNTAINS

  .photos_and_descriptions_mountains {
      .shadow_blue {
        box-shadow: 20px 20px 0px #010930;
        @include phone {
        display: none;
        }
        @media #{$landscape} {
        display: none;
      }
      }

   @include photos_and_descriptions();
   }


   #mountains_description {
     @include phone {
       background-image:url("../images/mountains_2.jpg");
     }
     @include description();

    .btn_more {
      border: 2px solid #010930;
      background-color:#FFFAF7;
        &:hover {
          background-color: #010930;
          color: white;
        }
      }
    }
