// .btn_more {
//   height:45px;                //btn for mobile
//   width: 100%;
//   font-size: 14px;
//   border: 2px solid #010930;
//   background-color: rgba(255, 255, 255, 0.4);
//   padding: 10px;
//   position:relative;
//   top:20px;
// }

section {
  width: 100%;                       //kontener na 100vh
  height: auto;

  // border: 2px solid red;


  .wild_nature {
    margin:0;
    padding: 30px;
    font-size:30px;
    text-align: center;
    color:white;
    background-color: #010930;
    @include phone {
    font-size: 24px;
    padding: 15px;
    }
  }

                                        //MASURIA
  .photos_and_descriptions_masuria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    @include phone {
      width: 100%;
      height: auto;
      display: inline;
    }
  }

    .lines{
    z-index: -1;
    width: 35%;
    height: 24%;
    margin-top: 50px;
    position: absolute;
    left:350px;
    right: 80px;
    border-top: 3px dashed orange;
    border-right: 3px dashed orange;
    border-left: 3px dashed orange;
    @include phone {
      display: none;
    }
  }

  li {
    margin-top:120px;
    margin-left: 100px;
    margin-right: 100px;
    width: 35%;
    .shadow_blue {
      box-shadow: 20px 20px 0px #010930;
      @include phone {
        display: none;
      }
    }
    .shadow_orange {
      box-shadow: 20px 20px 0px #f06600;
      @include phone {
        display: none;
      }
    }
    @include phone {
      margin:0;
    }
  }

  #masuria_description {
    background-color:#FFFAF7;
    margin-top: 60px;
    margin-right: 100px;
    // border:3px solid #f06600;
    h4 {
      color: #3e3f41;
      text-align: center;
      margin:30px 30px 15px 30px;
      font-size: 24px;
      font-weight: bold;
      @include phone {
        font-size: 18px;
        margin: 0;
        padding:20px;
        background-color:rgba(255, 255, 255, 0.7);
      }
    }
    p {
      color: #3e3f41;
      text-align: justify;
      font-size: 14px;
      margin: 15px 30px 50px 30px;
      @include phone {
        margin:0;
        padding: 12px;
        background-color:rgba(255, 255, 255, 0.7);
      }
      .hidden{
        @include phone {
        visibility: hidden;
        }
      }
      .btn_more {
        height:45px;                //btn for mobile
        width: 100%;
        font-size: 14px;
        border: 2px solid #010930;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 10px;
        position:relative;
        top:20px;
        @include phone {
        top:-10px;
        }
      }
      .shadow_btn{
        box-shadow: 3px 3px 20px #010930;
      }
    }
    .hobby_icons {
      // margin-left: 20px;
      width: 100%;
      text-align:right;
      background-color: #BCB9B7;
      // border: 2px solid green;
      @include phone {
        padding:5px;
      }
      li {
        // float: right;
        display: inline;
        margin: 0;
        padding: 5px;
      }
    }
    @include phone {
      margin-top:0;
      margin-right:0;
      width: auto;
    }
    @include phone {
      background-image:url("../images/masuria.jpg");
      background-color: rgba(255, 255, 255, 0.7);
      background-size: cover;
      background-repeat: no-repeat;
      margin:0;
    }
  }
}

//MOUNTAINS

.photos_and_descriptions_mountains {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  // border: 2px solid green;
  @include phone {
    width: 100%;
    height: auto;
    display: inline;
  }
}

#mountains_description{
  background-color:#FFFAF7;
  margin-top: 60px;
  margin-right: 100px;
  h4 {
    text-align: center;
    margin:30px 30px 15px 30px;
    font-size: 24px;
    font-weight: bold;
    @include phone {
      padding:20px;
      font-size: 18px;
      margin: 0;
      background-color:rgba(255, 255, 255, 0.7);
    }
  }
  p {
    text-align: justify;
    font-size: 14px;
    margin: 15px 30px 50px 30px;
    @include phone {
      margin:0;
      padding: 12px;
      background-color:rgba(255, 255, 255, 0.7);
    }
    .hidden{
      @include phone {
      visibility: hidden;
      }
    }
    .btn_more {
      height:45px;                //btn for mobile
      width: 100%;
      font-size: 14px;
      border: 2px solid #010930;
      background-color: rgba(255, 255, 255, 0.4);
      padding: 10px;
      position:relative;
      top:20px;
      @include phone {
      top:-10px;
      }
    }
  }
  .btn_more {                 //btn for mobile
    width: 100%;
    font-size: 12px;
    border: 2px solid #010930;
    padding: 10px;
    position:relative;
    top:-10px;
  }
  .hobby_icons {
    // margin-left: 20px;
    width: 100%;
    text-align:right;
    background-color: #BCB9B7;
    @include phone {
      padding:5px;
    }
    li {
      display: inline;
      margin: 0;
      padding: 5px;
    }
}
@include phone {
  background-color: rgba(255, 255, 255, 0.7);
  background-image:url("../images/masuria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:0;
  margin-right:0;
  width: auto;
}
}
