
$tablet-width: 768px;
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

$phone-width: 320px;
@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin flexbox {

  display: -webkit-box;
  display: -moxt-box;
  display: -webkit-flex;
  display: flex;
}

@mixin menu {
  .after {
  width: 40vh;
  height: auto;
  position: absolute;
  top: 64px;
  left: -50px;
  color: red;
  text-align: center;
  background-color: rgba(0, 5, 28, 0.6);
  display: none;
  padding: 5px;
  @include phone {
    position: relative;
    top:10px;
    left:0;
  }
}

  li {
      font-size: 14px;
      font-weight:300;
      height: auto;
      width: 100%;
      color: white;
          &:hover {
            border: 2px solid #f06600;
          }
      @include phone {
        padding: 10px;
      }
    }

    &:hover .after {
      @include phone {
        width: 100%;
        align-items:center;
      }
    }
  }
