
$phone-width: 320px;
@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}


@mixin flexbox {
  display: -webkit-box;
  display: -moxt-box;
  display: -webkit-flex;
  display: flex;
}

                                                              //SUBMENU MIXIN

@mixin submenu {
  .after {
  width: 40vh;
  height: auto;
  position: absolute;
  top: 64px;
  left: -50px;
  color: red;
  text-align: center;
  background-color: rgba(0, 5, 28, 0.6);
  display: none;
  padding: 5px;
  @include phone {
    position: relative;
    top:10px;
    left:0;
  }
  @media #{$landscape} {
    width: 50vh;
    position: absolute;
    top:47px;
    right:-42px;
  }
}

  li {
      font-size: 14px;
      font-weight:300;
      height: auto;
      width: 100%;
      color: white;
          &:hover {
            border: 2px solid #f06600;
          }
      @include phone {
        padding: 10px;
      }
    @media #{$landscape} {
        padding:10px;
        font-size: 12px;
      }
    }

    &:hover .after {
      @include phone {
        width: 100%;
        align-items:center;
      }
    }
  }


                                                    //PHOTOS AND DESCRIPTIONS

  @mixin photos_and_descriptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    @include phone {
      width: 100%;
      height: auto;
      display: inline;
    }
    @media #{$landscape} {
    width: 100%;
    height: auto;
    display: inline;
    align-items: center;

  }


  li {
    position: relative;
    margin-top:120px;
    margin-left: 100px;
    margin-right: 100px;
    width: 35%;

    @include phone {
      margin:0;
    }
    @media #{$landscape} {
      margin:0;
      width: 100%;
  }
    img {
      &:hover{
        transform: scale(1.1);
      }
    }
  }
  }

                                                          //DESCRIPTION BOXES

@mixin description {
  background-color:#FFFAF7;
  margin-top: 60px;
  margin-right: 100px;
  // border:3px solid #f06600;
  h4 {
    color: #3e3f41;
    text-align: center;
    margin:30px 30px 15px 30px;
    font-size: 24px;
    font-weight:600;
    @media #{$landscape} {
      font-size: 20px;
      margin: 0;
      padding:10px;
      padding-top:20px;
      background-color:rgba(255, 255, 255, 0.7);
    }
    @include phone {
      font-size: 18px;
      margin: 0;
      padding:20px;
      background-color:rgba(255, 255, 255, 0.7);
    }
  }
  p {
    font-weight:300;
    color: #3e3f41;
    text-align: justify;
    font-size: 14px;
    margin: 15px 30px 50px 30px;
    @include phone {
      margin:0;
      padding: 12px;
      // padding-left: 80px;
      background-color:rgba(255, 255, 255, 0.7);
    }
    @media #{$landscape} {
      margin:0;
      padding: 12px;
      padding-right: 50px;
      padding-left:50px;
      background-color:rgba(255, 255, 255, 0.7);
    }
    .hidden{
      @include phone {
      visibility: hidden;
      }
    }
    .btn_more {
      height:45px;
      width: 100%;
      font-size: 14px;
      padding: 10px;
      position:relative;
      top:20px;
      @include phone {
      top:-10px;
      }
      @media #{$landscape} {
      top:30px;
      }
    }

  }
  .hobby_icons {

    width: 100%;
    text-align:right;
    background-color: #BCB9B7;
    @include phone {
      padding:5px;
    }

   li{
    //  display:inline;
      width: 100%;
      // width:20px;
      height: auto;
      display: inline;
      margin: 0;
      @include phone {
        margin-top:0;
        margin-right:0;
        width: auto;
      }
    }
    :nth-child(3){
      margin-right: 20px;
    }
    &:hover {
      background-color: #010930;
    }
  }
  @include phone {
    margin-top:0;
    margin-right:0;
    width: auto;
  }
  @include phone {
    // background-image:url("../images/masuria.jpg");
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
  }
  @media #{$landscape} {
    background-image:url("../images/masuria.jpg");
    background-color: rgba(255, 255, 255, 0.7);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    // margin-top:40px;
  }
}
